<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexoccontext</key>
	<dict>
		<key>allowCircularDependencies</key>
		<false/>
		<key>objects</key>
		<dict>
			<key>refString</key>
			<dict>
				<key>type</key>
				<string>NSString</string>
				<key>init</key>
				<dict>
					<key>selector</key>
					<string>initWithString:</string>
					<key>arguments</key>
					<array>
						<string>one</string>
					</array>
				</dict>
			</dict>
			<key>list</key>
			<dict>
				<key>type</key>
				<string>NSArray</string>
				<key>init</key>
				<dict>
					<key>selector</key>
					<string>initWithArray:</string>
					<key>arguments</key>
					<array>
						<array>
							<string>@refString</string>
							<string>two</string>
							<string>three</string>
						</array>
					</array>
				</dict>
			</dict>
			<key>dictionary</key>
			<dict>
				<key>type</key>
				<string>NSDictionary</string>
				<key>init</key>
				<dict>
					<key>selector</key>
					<string>initWithDictionary:</string>
					<key>arguments</key>
					<array>
						<dict>
							<key>one</key>
							<string>@refString</string>
							<key>two</key>
							<string>two</string>
							<key>three</key>
							<dict>
								<key>object</key>
								<dict>
									<key>type</key>
									<string>NSString</string>
									<key>init</key>
									<dict>
										<key>selector</key>
										<string>initWithString:</string>
										<key>arguments</key>
										<array>
											<string>three</string>
										</array>
									</dict>
								</dict>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
			<key>circularService2</key>
			<dict>
				<key>properties</key>
				<dict>
					<key>service</key>
					<string>@circularService1</string>
				</dict>
				<key>type</key>
				<string>CircularService2</string>
			</dict>
			<key>nestedService</key>
			<dict>
				<key>properties</key>
				<dict>
					<key>service</key>
					<dict>
						<key>object</key>
						<dict>
							<key>type</key>
							<string>InstanceService</string>
							<key>properties</key>
							<dict>
								<key>stringFromContext</key>
								<string>A value from context</string>
							</dict>
						</dict>
					</dict>
				</dict>
				<key>type</key>
				<string>CircularService2</string>
			</dict>
			<key>circularService1</key>
			<dict>
				<key>properties</key>
				<dict>
					<key>service</key>
					<string>@circularService2</string>
				</dict>
				<key>type</key>
				<string>CircularService1</string>
			</dict>
			<key>instanceServiceConstructor</key>
			<dict>
				<key>init</key>
				<dict>
					<key>arguments</key>
					<array>
						<integer>5</integer>
						<string>A value from context</string>
					</array>
					<key>selector</key>
					<string>initWithValue:andString:</string>
				</dict>
				<key>type</key>
				<string>InstanceService</string>
			</dict>
			<key>instanceSingletonInjectionService</key>
			<dict>
				<key>properties</key>
				<dict>
					<key>anInstanceService</key>
					<string>@singletonInstanceService</string>
				</dict>
				<key>type</key>
				<string>InjectionInstanceService</string>
			</dict>
			<key>instanceInjectionService</key>
			<dict>
				<key>properties</key>
				<dict>
					<key>anInstanceService</key>
					<string>@instanceService</string>
				</dict>
				<key>type</key>
				<string>InjectionInstanceService</string>
			</dict>
			<key>instanceService</key>
			<dict>
				<key>type</key>
				<string>InstanceService</string>
				<key>properties</key>
				<dict>
					<key>stringFromContext</key>
					<string>A value from context</string>
				</dict>
			</dict>
			<key>singletonInstanceService</key>
			<dict>
				<key>singleton</key>
				<true/>
				<key>type</key>
				<string>InstanceService</string>
				<key>properties</key>
				<dict>
					<key>stringFromContext</key>
					<string>A value from context</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
