<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexoccontext</key>
	<dict>
		<key>objects</key>
		<dict>
			<key>stringRef1</key>
			<dict>
				<key>init</key>
				<dict>
					<key>arguments</key>
					<array>
						<string>Hello stringRef1</string>
					</array>
					<key>selector</key>
					<string>initWithString:</string>
				</dict>
				<key>type</key>
				<string>NSString</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
